{% extends 'base.html' %}
{% block content %}

<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        <h1 class="sm:text-4xl text-4xl font-medium title-font mb-2 text-black-900" style="background-color:lime;">{{about.name}}</h1><br>
        <p class="leading-relaxed text-lg" style="background-color:aqua;"> Slug : {{about.slug}} </p><br>
        <p class="leading-relaxed text-lg" style="background-color:silver;"> Content : {{about.content}} </p><br>
        <span class="inline-block h-1 w-20 rounded bg-indigo-300 mt-8 mb-6"></span>
        <a href="https://github.com/ShahaliShahaliyev" class="mr-5 hover:text-gray-900 rounded-lg hover:bg-pink-200 inline-flex items-center">
            <p class="leading-relaxed text-lg"style="background-color:cyan;"> My GitHub : CLICK HERE! </p><br>
          </a>
        <span class="inline-block h-1 w-20 rounded bg-red-600 mt-8 mb-6"></span>

      </div>
    </div>
  </section>

{% endblock content %}